@import 'tailwindcss';

@theme {
  --color-primary: green;
  --color-primary-bg: white;
  --color-base: var(--color-base-800);
  --color-base-0: #888888;
  --color-base-200: #666666;
  --color-base-400: #444444;
  --color-base-600: #222222;
  --color-base-800: #000000;
  --color-base-bg: var(--color-base-bg-0);
  --color-base-bg-0: white;
  --color-base-bg-200: #eeeeee;
  --color-base-bg-400: #dddddd;
  --color-base-bg-600: #bbbbbb;
  --color-base-bg-800: #999999;
  --color-success: blue;
  --color-warning: yellow;
  --color-error: red;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-bold;
  }
  h1 {
    @apply text-6xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
}

@layer components {
  .blog-post-prose {
    @apply w-full;
    & > * {
      @apply mx-8 my-2;
    }
    & .astro-code {
      @apply px-4 py-2 rounded-md;
    }
    & :not(.astro-code) code {
      @apply bg-base-bg-600 px-2 py-0.5 mx-2 rounded-sm font-bold text-primary;
    }

    & blockquote {
      @apply bg-base-bg-400 border-l-4 p-2 pl-8 border-primary text-base-200;
    }
  }
}
