---
import Layout from '../layouts/BlogPost.astro'
---

<Layout
  title='关于我'
  description='其实也没有太多可以讲的'
  pubDate={new Date('2024.2.20')}
  heroImage='/blog-placeholder-about.jpg'
>
  <p>
    一介学生，在一座不大不小的城市上学，每天过着枯燥的生活，写富有创造性的代码是为数不多的娱乐方式之一。
  </p>
  <p>
    善于使用Rust，TypeScript/JavaScript，C/C++，Java，Kotlin，Python，C#，Lua等主流编程语言（排名不分先后），并熟练掌握Scala，Zig，Perl，Bash，PowerShell等语言的HelloWorld，精通各种操作系统和开发环境的卸载和安装<del
      >（Go是什么，能吃吗？）</del
    >，保有差点点亮个开发板的骄人战绩，曾成功`rm -rf /*`并重置电脑，
    有过给Linux电脑安装N卡驱动的折磨经历，以及一天堆出上千行代码*山的丰富经验。
  </p>
  <p>
    目前主要使用Shell是PowerShell（Windows）和Fish（Linux），使用操作系统Windows
    11以及搭载在其上的WSL2
    ArchLinux。主力包管理器winget（Windows）和pacman（Linux及MSYS2）。随身携带一台黑色高级<del
      >大怨种</del
    >游戏本。
  </p>
  <p>一切开发旨在学习，而不是单纯的捞钱。</p>
  <p>
    <del
      >梦想是成为有<a href='https://bellard.org'>Bellard</a
      >万分之一实力的程序颠佬</del
    >
  </p>
  <p>
    不是特别擅长打游戏，因此更青睐回合制的或战棋游戏，毕竟这种游戏不是特别紧张而且需要动脑。<del
      >很幸运的是没有被某个游戏2删过C盘</del
    >
  </p>
</Layout>
