---
import Layout from '../layouts/BlogPost.astro'
---

<Layout
  title='关于我'
  description='其实也没有太多可以讲的'
  pubDate={new Date('2024.2.20')}
  heroImage='/blog-placeholder-about.jpg'
>
  <p>（正在重新撰写......）</p>
</Layout>
