---
import BaseHead from '../components/BaseHead.astro'
import Nav from '../components/Nav.astro';
import Sidebar from '../components/Sidebar.astro';
import PostListItem from '../components/PostListItem.astro';
import { getCollection } from 'astro:content';
import Posts from '../components/Posts.astro'


const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
)
console.log("az")
---

<html lang="zh-CN" class="dark">
<head>
  <BaseHead title='冰窖' description='冰窖' /> 
</head>

<body class="bg-dark text-gray-100 min-h-screen">
  <Nav title="冰窖" />
  
  <main class="container mx-auto px-4 py-8">
    <div class="grid md:grid-cols-3 gap-8">
      {/* 文章列表 */}
      <div class="space-y-6 md:col-span-2">
        <Posts posts={posts} />
      </div>

      {/* 侧边栏 */}
      <div class="md:col-span-1">
        <Sidebar />
      </div>
    </div>
  </main>
</body>
</html>