---
interface Props {
  tags?: string[]
}

const { tags } = Astro.props
---

<div class='mt-12 pt-8 border-t border-gray-700'>
  <div class='flex gap-2 flex-wrap'>
    {
      (tags || []).map(tag => (
        <span class='px-3 py-1 bg-gray-800 rounded-full text-sm text-accent'>
          #{tag}
        </span>
      ))
    }
  </div>
</div>
